<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>投稿一覧</title>
    <link rel="stylesheet" href="./listContents.css" />
  </head>
  <body>
    <!-- th:actionだとThymeleaf側でCSRFトークンが補完されるので通る, actionだと通常のHTMLの属性なので403エラー, [参考URL](https://qiita.com/nenokido2000/items/22a97a26a5858ddb164f) -->
    <form th:action="@{.}" method="post">
      <label for="content">投稿内容</label>
      <input
        type="text"
        name="content"
        placeholder="投稿内容を入力してください"
      />
      <input type="submit" value="投稿" />
    </form>
    <table>
      <thead>
        <tr>
          <th>投稿内容</th>
          <th>投稿者</th>
        </tr>
      </thead>
      <tbody th:each="content : ${contents}">
        <tr>
          <td th:text="${content.content}"></td>
          <td th:text="${content.userName}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
